# Class 3 Conditional statement - if , elif, else

In [1]:
a=10
if a==11:
    print("this is my first condition")

In [2]:
a=10
if a > 5:
    pass

In [3]:
a=10
if a<8 :
    print("print this if condition is true")

In [4]:
a=10
if a==11:
    print(" my condition is false")
    
else :
    print("print this")

print this

In [6]:
a=10
if a==11:
    print(" we are trying to compare 10 with 11")
    
elif a==10:
        print("we are trying to compare 10 with 12")
        
else :
            print("if all the blocks get fails do this")

we are trying to compare 10 with 12

In [7]:
price = 600

if price > 600 :
    print(" i wont be able to buy this jacket")
    
elif price < 600 : 
    print (" i will be able to buy this jacket")
    
elif price == 600 :
    print (" will surely buy this jacket")
    
else :
    print (" i dont know")

 will surely buy this jacket

In [8]:
l = [1,2,3,4,5,6]
2 in l

True

In [9]:
if 90 in l :
    print (" i will perform a task")
else :
    print (" i will not perform a task")

 i will not perform a task

In [10]:
if 10 in l:
    print (" try to do addition")
elif 4 in l:
    print (" try to do sub")
elif 3 in l:
    print (" try to do mul")
if 8 in l:
    print (" this is a new statement")

 try to do sub

In [ ]:
a = 400

In [ ]:
b=int(input())

In [7]:
price = int(input())

if price <500 :
    print (" i will be able to buy vegetables")
    
    if price < 400:
        print(" i will be able to buy shirt")
        
    elif price < 300:
         print (" i will be able to buy handbag")
     
         if price < 200:
             print ("i wont like to do something")
    
    else :
        print (" i wont be able to do anything")
        
else :
        print ("i wont be able to do with this price tag")
        
if price > 500:
        
        print("lets try something else")

515
i wont be able to do with this price tag
lets try something else

In [14]:
marks = int(input())

if marks < 600:
    print("NO GRE")
    
    if marks <500:
        print("TOFEL")
        
        if marks < 300:
            print(" try something else")
            
    else :
        print (" you got a TOFEL")
        
else :
    print(" congratulations you got GRE")

490
NO GRE
TOFEL

In [18]:
value = float(input( "enter floating point number : "  ))

if value >= 0:
    if value ==0:
        print(" entered value is zero")
        
    else :
        print(" Entered value is positive")
        
else :
            print(" Entered value is negative")

enter floating point number : 0
 entered value is zero

In [20]:
a= 10
if a < 10 and a ==10 :
    print (" try to do something")

In [23]:
a =" Nilam"
if a =="Nilam" or a=="Nilam":
     print(" This is Nilam")

In [24]:
a=10
b=11
c=12
d=13
if a==10 or b==11 and c==12 and d ==13 :
    print(" lets do something")

 lets do something

In [35]:
d={"key1": "value" , "key2": "nilam" , "key3" : "ineuron"}

In [36]:
d

{'key1': 'value', 'key2': 'nilam', 'key3': 'ineuron'}

In [40]:
 if d[ "key1"] == "value" and d["key2"] == "nilam" and d["key3"] == "ineuron":
    print(" all the values are verified")
    print (" d.values()")
    
else :
    print( " values are not verified")

 all the values are verified
 d.values()

In [42]:
d.values()

dict_values(['value', 'nilam', 'ineuron'])

In [43]:
d.items()

dict_items([('key1', 'value'), ('key2', 'nilam'), ('key3', 'ineuron')])

In [44]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [45]:
l = [1,2,3,4,5,"sudh" ,234.45]

In [54]:
for i in l:
    if type(i) == int or type(i) == float :
        print(i+1)
    elif type(i) == str:
        print(i+ str(1))

2
3
4
5
6
sudh1
235.45

In [56]:
a=[9, 8,7,6,5,4,3,2,10]
for i in a :
    print(i, end= "")

9876543210

In [61]:
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)

In [64]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [66]:
 for i in l:
        if type(i)== int:
            print(i+1)
        if type(i)==float:
            print(i+1)
        if type(i)== str:
                print(i+str(1))

2
3
4
5
6
sudh1
235.45

In [67]:
for i in l:
        if type(i)== int:
            print(i+1)
        elif type(i)==float:
            print(i+1)
        elif type(i)== str:
                print(i+str(1))

2
3
4
5
6
sudh1
235.45

In [70]:
for i in l:
        if type(i)== int or type(i)==float:
            print(i+1)
        elif type(i)== str:
                print(i+str(1))

2
3
4
5
6
sudh1
235.45

In [ ]:
l = [1,2,3,4,5 ,"car",5,6,7]

for i in l:
    if i.isnumeric():
        print(i)

In [ ]:
list=[]
name = input("enter a name: ")
while name != "chandan" :
    list.append(name)
    print(list)

In [ ]:

l = [1,2,3,4,5465,67,"sudh"]

In [ ]:
for i in l:
    if type(i)== str:
        if i== "d":
            break
             print(i)

In [ ]:
a=10
if a<8:
    print("if the condition is true")

In [3]:
marks = int(input("enter a number :"))

if marks>600:
    print("able to crack GRE")
    
elif marks <600:
        print("not able to crack GRE")
        
elif marks<500:
            pass

enter a number :320
not able to crack GRE

In [11]:
# to calculate temperature deg C to deg F
celsius = int(input("Enter value of temperature in celsius: "))

fahr=(9/5)*celsius + 32

print(" value in celsius to fahr: " , fahr)

Enter value of temperature in celsius: 78
 value in celsius to fahr:  172.4

In [12]:
import calendar
print(calendar.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [3]:
a,b,c,d=10,11,12,13
if a==10 or b==11 and c==12 and d==13:
    print("lets do something 1")
if a==10 and b==11 and c==12 or d==13:
    print("lets do something 2")
if (a==10 and b==11)or (c==12 and d==13):
    print("lets do something 3")
if a==10 and b==11 and c==12 and d ==13 or a==10:   
    print("lets do something 4")
    print(type(a) == int)
print(type(a) is int)

lets do something 1
lets do something 2
lets do something 3
lets do something 4
True
True

In [4]:
type(a)== int

True

In [5]:
type (a) is int

True

In [6]:
l = [0,0,0,0,0,0,0,1324,0,0,0,0,0]

for i in l:
    if i>0:
        print("we have an active alarm number : " , i)
        
    else :
        print(" No active alarm")

 No active alarm
 No active alarm
 No active alarm
 No active alarm
 No active alarm
 No active alarm
 No active alarm
we have an active alarm number :  1324
 No active alarm
 No active alarm
 No active alarm
 No active alarm
 No active alarm

In [15]:
l=[1,2,3,4,5,"sudh",234.45]

a=0
l1= []
for i in l:
    if type (i)== int:
        l1 == l1+ [i]
print(l1)

[]

In [24]:
a = int(input(" enter a no from 1 to 40 : "))
if a>=1 or a<=9 :
        print(" colour is saffaron")
if 10<=a>=20 :
    print(" colour is White")
if 21 <=a>=30:
    print("colour is green")
elif 31<=a>=40:
    print("colour is maroon")
    
else :
        print("enter no from 1 to 40")

 enter a no from 1 to 40 : 39
 colour is saffaron
 colour is White
colour is green

In [25]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [27]:
for i in l:
    if type (i)==int or type(i)==float:
        print(i+1)
    elif type(i)==str:
        print (i+ str(1))

2
3
4
5
6
sudh1
235.45

In [1]:
price=int(input(" Enter the price"))

if price > 5000:
    print("i can buy jacket")
    
elif price > 5000 and price <= 10000:
        print(" i can buy both shirt and jcket")
        
elif price >10000:
        print(" i can only buy vegetables")
else :
            print("i cant buy anything")

 Enter the price7000
i can buy jacket

In [12]:
l=[[2,56,43],['sad','sad',234,'forty','rest',734],[2-8j,3.065,7,'tinku'],'welcome']

l.insert(2,[12,39,67])
print(l,'\n')
print('Q1')

for i in l:
    if type (i)== list:
        
        for j in range(len(i)):
            if (i[j])== str :
                
                print(" sublist: ", i, "\n" , "index= " , j, "value = " , i[j], "\n")
                
print(l,'\n')
print('Q2')

for i in l:
    if type (i)== list:
        
        for j in range(len(i)):
            if (i[j])== str :
                i[j] =""
                
    print("final list after removing all the string in the nested list : " ,l)

[[2, 56, 43], ['sad', 'sad', 234, 'forty', 'rest', 734], [12, 39, 67], [(2-8j), 3.065, 7, 'tinku'], 'welcome']

Q1
[[2, 56, 43], ['sad', 'sad', 234, 'forty', 'rest', 734], [12, 39, 67], [(2-8j), 3.065, 7, 'tinku'], 'welcome']

Q2
final list after removing all the string in the nested list :  [[2, 56, 43], ['sad', 'sad', 234, 'forty', 'rest', 734], [12, 39, 67], [(2-8j), 3.065, 7, 'tinku'], 'welcome']
final list after removing all the string in the nested list :  [[2, 56, 43], ['sad', 'sad', 234, 'forty', 'rest', 734], [12, 39, 67], [(2-8j), 3.065, 7, 'tinku'], 'welcome']
final list after removing all the string in the nested list :  [[2, 56, 43], ['sad', 'sad', 234, 'forty', 'rest', 734], [12, 39, 67], [(2-8j), 3.065, 7, 'tinku'], 'welcome']
final list after removing all the string in the nested list :  [[2, 56, 43], ['sad', 'sad', 234, 'forty', 'rest', 734], [12, 39, 67], [(2-8j), 3.065, 7, 'tinku'], 'welcome']
final list after removing all the string in the nested list :  [[2, 56, 43], ['sad', 'sad', 234, 'forty', 'rest', 734], [12, 39, 67], [(2-8j), 3.065, 7, 'tinku'], 'welcome']

In [4]:
import calendar

n = int(input("type 1 for monthly calendar and type 2 for yearly calendar : "))

if n==1 :
        yy=int(input(" enter year: "))
        mm=int(input(" enter month : "))
        print(calendar.month(yy,mm))

elif n==2:
    yy=int(input(" enter year: ")) 
    for m in range(1,13):
         print(calendar.month(yy,m))

type 1 for monthly calendar and type 2 for yearly calendar : 2
 enter year: 2022
    January 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

   February 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28

     March 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

     April 2022
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

      May 2022
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

     June 2022
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

     July 2022
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

    August 2022
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

   September 2022
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

    October 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

   November 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

   December 2022
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [10]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
l[-1] ["key1"]

'sudh'

In [16]:
l=[1,2,3,4,5,"sudh",23.55]
l1=[]
for i in l:
     if type(i)==int:
        l1.append(i)

In [17]:
l1

[1, 2, 3, 4, 5]

In [18]:
l = [{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [26]:
list(l[0].keys())

['key1', 234]

In [35]:
for i in l:
    if type(i)== dict:
        print(list(i.keys()))

['key1', 234]

In [40]:
test_list = [3, 5, 6, 8, 10]

print(" the original list : " + str(test_list))

res= [ele for ele in range(max(test_list)+1) if ele not in test_list ]

print("The list of missing elements : " + str(res))

 the original list : [3, 5, 6, 8, 10]
The list of missing elements : [0, 1, 2, 4, 7, 9]

In [49]:
# Identify the three blocks in this code:

spam=0
    
if spam ==0:
        print("eggs")
        
if spam>5:
        print("balcony")
        
else :
        print("ham")
        
        print(spam)
        
        print (spam)

eggs
ham
0
0

In [52]:
d={'key1':"surendra", 'key2':"sudh", 'key3':"ineuron"}

d.values()
d.keys()
d.items()

dict_items([('key1', 'surendra'), ('key2', 'sudh'), ('key3', 'ineuron')])

In [53]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [54]:
d.values()

dict_values(['surendra', 'sudh', 'ineuron'])

In [55]:
l=[1,2,3,"trip",234.6]

for i in l:
    print(l[i])

2
3
trip

TypeError: list indices must be integers or slices, not str

In [17]:
test_list = [3, 5, 6, 8, 10,13,18, 23]

print(" the original list: "  +str(test_list))

res = [ele for ele in range (max(test_list)+1) if ele not in (test_list)]

print(" the missing ele in test_list : "  +str(res))

 the original list: [3, 5, 6, 8, 10, 13, 18, 23]
 the missing ele in test_list : [0, 1, 2, 4, 7, 9, 11, 12, 14, 15, 16, 17, 19, 20, 21, 22]

In [33]:
i= int(input("Enter a number: "))

if type(i)== int:
    print("integer")
    

if type(i)== float:
    print("float")

else :
      print("invalid")

Enter a number: 9
integer
invalid

In [50]:
travelling_allowance = int(input("enter the travellingallowance of cab: "))

if travelling_allowance >1000:
    print(" the distance was too long: ")
    
elif travelling_allowance <500:
    print(" the distance was short: ")

enter the travellingallowance of cab: 400
 the distance was short:

In [62]:
marks=int(input("Enter marks: "))

if marks>600:
    
    print("addmission in GRE")
    
elif marks <500 and marks>400:
    print(" TOFEL")
    
else :
    print(" try something else")

Enter marks: 320
 try something else

In [82]:
value= float(input(" enter number: "))

if value >= 0:
     if value == 0:
             print(" the value is zero")
    
     elif value < 0 :
            print(" value is smaller than zero ")
    
     else:
            print(" the value is positive ")
    
else:
    print("None")

 enter number: -0.98
None

In [89]:
l= [1,2,3,4,5,"sudh", 234.45]

for i in l:
    if type(i)== int:
        print(i+5)
        
    if type(i)== float:
        print(i+10)

6
7
8
9
10
244.45

In [4]:
d = {"a":200,"b":300}
print(d.values())
s= sum(d.values())
print("sum",s)

dict_values([200, 300])
sum 500

In [33]:
def number(i):
    
        if type (i) == float:
             print("the number is float")
            
        elif type(i) == int:
                    print("the number is integer")
        
        else:
                print("the number is invalid")
        
number(00.567)

the number is float

In [11]:
import calendar

n= int(input("type 1 for monthly  and type 2 for yearly : "))
    
if n==1:
        yy= int(input( "Enter year : "))
        mm= int(input(" Enter month: "))
        
        print( calendar.month(yy,mm))

if n==2:
         yy= int(input( "Enter year : "))
        
         for m in range(1,13): 
                
                  print( calendar.month(yy,m))

type 1 for monthly  and type 2 for yearly : 2
Enter year : 2012
    January 2012
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

   February 2012
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29

     March 2012
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

     April 2012
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

      May 2012
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

     June 2012
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

     July 2012
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

    August 2012
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

   September 2012
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

    October 2012
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

   November 2012
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

   December 2012
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31