# Class 4 For loop

In [1]:
l=[1,2,3,4,"sudh","kumar",45.56]

In [2]:
for i in l:
    print(i)

1
2
3
4
sudh
kumar
45.56

In [3]:
for i in l:
    pass

In [5]:
s= ["sudh" , "Nilam" , "lump"]

for i in s:
    print(i)

sudh
Nilam
lump

In [6]:
s="sudh"

for i in s:
    print(i)

s
u
d
h

In [7]:
for i in l:
    print(i)
    
else:
    print(" if for loop is going to complete by itself then it will execute else")

1
2
3
4
sudh
kumar
45.56
 if for loop is going to complete by itself then it will execute else

In [14]:
for i in l:
    if i== 4:
        break
    print(i)
else:
    print(" if for loop is going to complete by itself then it will execute else")

1
2
3

In [16]:
n="nilamkale"

for i in n:
    if i == "z":
        break
    print(i)
    
else:
    print(" print string" , n)

n
i
l
a
m
k
a
l
e
 print string nilamkale

In [23]:
b={4,5,6,7,7,7,7,7,8,"sudh"}
print(type(b))

print (b)

for i in b:
    print(i)

<class 'set'>
{'sudh', 4, 5, 6, 7, 8}
sudh
4
5
6
7
8

In [24]:
d={'key1':"sudh",'contact':842346934,'position':"xyz"}
for i in d:
    print(i)

key1
contact
position

In [31]:
for i in d:
    print(d[i])

sudh
842346934
xyz

In [34]:
for i in d:
    print(i,":" , d[i])

key1 : sudh
contact : 842346934
position : xyz

In [35]:
range(0,9)

range(0, 9)

In [36]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
for i in range(12):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [39]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [42]:
list(range(0,15,3))

[0, 3, 6, 9, 12]

In [43]:
list(range(0,15,-1)) # since it is in opposite dirrection

[]

In [45]:
list(range(15,0,-3))

[15, 12, 9, 6, 3]

In [58]:
n=4
for i in range(4):
        for j in range(0, i+1):
            print("nilam", end=" ")
        print("\n")

nilam

nilam nilam

nilam nilam nilam

nilam nilam nilam nilam

In [70]:
n=4
for i in range(n):
    for j in range(i,n-1):
        print(" "* len("sudh"), end=" ")
    for j in range(i+1):
        print("sudh", end=" ")
    for j in range(i):
        print("sudh", end=" ") 
    print("\n")

               sudh

          sudh sudh sudh

     sudh sudh sudh sudh sudh

sudh sudh sudh sudh sudh sudh sudh

In [73]:
t=(4,5,6,7,8,6,"sudh")

In [74]:
len(t)

7

In [80]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6]

In [85]:
t=(3,23,45,67,2,4,5,6)

for i in range(len(t)): # range can be used to produce index
    print(i," : " , t[i])

0  :  3
1  :  23
2  :  45
3  :  67
4  :  2
5  :  4
6  :  5
7  :  6

In [86]:
s="nilamkale"

for i in range(len(s)):
    print(i, ":" , s[i])

0 : n
1 : i
2 : l
3 : a
4 : m
5 : k
6 : a
7 : l
8 : e

In [88]:
list(range(len(s) -1,-1,-1))

[8, 7, 6, 5, 4, 3, 2, 1, 0]

In [90]:
for i in range(len(s)-1,-1,-1):
    print(i,":", s[i])

8 : e
7 : l
6 : a
5 : k
4 : m
3 : a
2 : l
1 : i
0 : n

In [91]:
d

{'key1': 'sudh', 'contact': 842346934, 'position': 'xyz'}

In [97]:
for i in (d.items()):
    print(( i), type([i]), type( i[1]))

('key1', 'sudh') <class 'list'> <class 'str'>
('contact', 842346934) <class 'list'> <class 'int'>
('position', 'xyz') <class 'list'> <class 'str'>

In [100]:
l1={"sudh":"kumar",7669696:"s@gmail.com",696:324823}

for i in (l1.items()):
    print( (i), type([i]), type (i[1]))

('sudh', 'kumar') <class 'list'> <class 'str'>
(7669696, 's@gmail.com') <class 'list'> <class 'str'>
(696, 324823) <class 'list'> <class 'int'>

In [103]:
l1=["sudh","kumar",7669696,"s@gmail.com",696,324823]

l2=[] 
for i in l1:
        if type(i)== int:
            l2.append(i)
            
            print(l2)

[7669696]
[7669696, 696]
[7669696, 696, 324823]

In [104]:
d={1:32746276, "name":"sudh", "email":"s@gmail.com", 324324:"ysda", "43":"ewf",232:"8423"}

l3=[]

for i in d:
    if type(i)== int:
        l3.append(i)
        
        print(l3)

[1]
[1, 324324]
[1, 324324, 232]

In [105]:
l3=[]
for i in d:
    if type(i)== int:
        print(i, ":", d[i])

1 : 32746276
324324 : ysda
232 : 8423

In [109]:
s="aaaabbccd"

for i in set(s):
    
        print( i, ":", s.count(i))

b : 2
c : 2
a : 4
d : 1

In [110]:

m =23423492492349235 # int is not iterable

for i in set(m):
    
        print( i, ":", m.count(i))

TypeError: 'int' object is not iterable

In [111]:
m =23423492492349235

for i in str(m):
    print( int(i), type(int(i)))

2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
9 <class 'int'>
2 <class 'int'>
4 <class 'int'>
9 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
9 <class 'int'>
2 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [116]:
t=("sudh","kumar",[1,2,3,4,5],(1,2,3,4,5),{3:3,"key2":324})

for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if type(j)== 3:
                print(j)
    if type(i)== dict:
          for k,v in i.items():
                print(k)
                print(v)

3
3
key2
324

In [123]:
d={4:5,"key1":"sudh","key2":"kumar"}

for i in d.items():
     print(i)

(4, 5)
('key1', 'sudh')
('key2', 'kumar')

In [127]:
d={4:5,"key1":"sudh","key2":"kumar"}

for i in d:
    print(i, ":", d[i])

4 : 5
key1 : sudh
key2 : kumar

In [129]:
for i,j in d.items():
    print(i,j)

4 5
key1 sudh
key2 kumar

In [140]:
for i in d.items():
    print(i, type([i]), type(i[1]))

(4, 5) <class 'list'> <class 'int'>
('key1', 'sudh') <class 'list'> <class 'str'>
('key2', 'kumar') <class 'list'> <class 'str'>

In [148]:
n=5

for i in range(n):
    for j in range(i,n-1):
        print(" "*len("nilam"), end=" ")
    for j in range(i+1):
        print(" nilam", end=" ")
    for j in range(i):
        print(" nilam", end=" ")
        
    print("\n")

                         nilam

                   nilam  nilam  nilam

             nilam  nilam  nilam  nilam  nilam

       nilam  nilam  nilam  nilam  nilam  nilam  nilam

 nilam  nilam  nilam  nilam  nilam  nilam  nilam  nilam  nilam